version: 2
jobs:
  build:
    docker:
      - image: circleci/node:6.10.3
    working_directory: ~
    steps:
      - checkout

      - restore_cache:
          keys:
            - deps-v1-{{ checksum "yarn.lock" }}

      - run:
          name: Install Dependencies
          command: make install-no-clean

      - save_cache:
          paths:
            - node_modules
          key: deps-v1-{{ checksum "yarn.lock" }}

      - run:
          name: Lint
          command: make lint
          when: always

      - run:
          name: Run Tests
          command: make test
          when: always

      - store_artifacts:
          path: artifacts

      - store_test_results:
          path: artifacts/test_results

      - persist_to_workspace:
          root: ./
          paths:
            - artifacts/
            - node_modules/

  deploy:
    docker:
      - image: circleci/node:6.10.3
    working_directory: ~
    steps:
      - checkout

      - attach_workspace:
          at: ~

      - run:
          name: Install Deployment Dependencies
          command: make install-deployment-deps

      - run:
          name: Deploy Staging
          command: make deploy

      - run:
          name: Deploy Production
          command: STAGE=production make deploy

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: master
